* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-h1 {
  text-align: center;
  margin: 10px;
}

.menu-div {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
}

.addtodo-form {
  margin-top: 0;
}

.input,
.button {
  padding: 10px;
}
.input {
  width: 80%;
  outline: none;
}

.button {
  width: 20%;
  background-color: #003049;
  color: #fff;
  border: 1px solid #003049;
}

.todo {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
  margin: 5px 0px;
}

.todo-li {
  font-size: 20px;
  padding: 2px;
  list-style: none;
  width: 90%;
}

.edit-button {
  background-color: #fef0d5;
  border: 1px solid;
  font-size: 16px;
  padding: 5px 4px;
}

.delete-button {
  background-color: red;
  border: none;
  color: white;
  font-size: 16px;
  padding: 5px;
}
