
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color:#a5bfd0;
 width: 95%;
 margin: 20px auto;
 height: 95vh;
 padding: 5px;
 overflow-x: hidden;
 overflow-y: auto;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-div {
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
.App {
  width: 70%;
  margin: 20px auto;
}
}

@media only screen and (min-width: 960px) {
  .App {
    width: 50%;
    margin: 20px auto;
  }
  }