
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: url(protruding-squares.svg);
  border: 1px solid;
  color: white;
 width: 95%;
 margin: 20px auto;
 height: 95vh;
 padding: 5px;
 overflow-x: hidden;
 overflow-y: auto;
}

.main-div {
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
.App {
  width: 50%;
  margin: 20px auto;
}
}